<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.dao.mapper.GoodsMapper">
    <resultMap id="getRandomGoods" type="com.huang.dao.entity.Goods">
        <id property="gid" column="gid"></id>
        <result property="categoryId" column="gid"/>
        <result property="giconPath" column="gicon_path"/>
        <result property="gprePrice" column="gpre_price"/>
        <result property="gprice" column="gprice"/>
        <result property="gdetails" column="gdetails"/>
        <result property="ownerId" column="owner_id"/>
        <result property="fineness" column="fineness"/>
        <result property="glocation" column="glocation"/>
        <result property="time" column="time"/>
        <result property="categoryId" column="category_id"/>
        <result property="gstatus" column="gstatus"/>
    </resultMap>
    <select id="getRandomGoods" resultMap="getRandomGoods">
        SELECT *
        FROM `goods`
        WHERE gstatus = 1
            LIMIT #{param}
            , #{pageSize}
    </select>
    <select id="selectGoodsByGid" resultType="com.huang.dao.entity.Goods">
        SELECT *
        FROM `goods`
        WHERE gid = #{gid}
    </select>
    <select id="selectGoodsList" resultType="com.huang.dao.entity.Goods">
        SELECT *
        FROM `goods`

    </select>
    <select id="selectGoodsByOwnerId" resultType="com.huang.dao.entity.Goods">
        SELECT *
        FROM `goods`
        WHERE owner_id = #{ownerId}
    </select>
    <select id="selectGoodsWithKeyWd" resultType="com.huang.dao.entity.Goods">
        SELECT *
        FROM `goods`
        WHERE gprofile LIKE concat('%',#{keyWords},'%')


    </select>
    <select id="selectGoodsWithCategoryId" resultType="com.huang.dao.entity.Goods">
        SELECT *
        FROM `goods`
        WHERE category_id = '#{categoryId}'
    </select>
    <update id="updateGoodsImages">
        UPDATE `goods`
        SET gicon_path=#{giconPath}
        WHERE gid = #{gid}
    </update>
    <insert id="insertGoods">
        INSERT INTO `goods`(gid,gprofile, gprice,gpre_price ,gicon_path,gdetails,owner_id, glocation,
        fineness,stock_num, category_id , gstatus)
        VALUE (#{gid},#{gprofile}, #{gprice},#{gprePrice} ,#{giconPath},#{gdetails},#{ownerId}, #{glocation},
        #{fineness},#{stockNum}, #{categoryId} , #{gstatus})
        <selectKey keyProperty="gid" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>

        <!--        insert into goods-->
        <!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
        <!--            <if test="gprofile != null and gprofile != ''">gprofile,</if>-->
        <!--            <if test="gprice != null">gprice,</if>-->
        <!--            <if test="gprePrice != null">gpre_price,</if>-->
        <!--            <if test="giconPath != null and giconPath != ''">gicon_path,</if>-->
        <!--            <if test="gdetails != null and gdetails != ''">gdetails,</if>-->
        <!--            <if test="ownerId != null">owner_id,</if>-->
        <!--            <if test="glocation != null and glocation != ''">glocation,</if>-->
        <!--            <if test="fineness != null and fineness != ''">fineness,</if>-->
        <!--            <if test="stockNum != null">stock_num,</if>-->
        <!--            <if test="categoryId != null">category_id,</if>-->
        <!--            <if test="gstatus != null">gstatus,</if>-->
        <!--            <if test="time != null">time,</if>-->
        <!--        </trim>-->
        <!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
        <!--            <if test="gprofile != null and gprofile != ''">#{gprofile},</if>-->
        <!--            <if test="gprice != null">#{gprice},</if>-->
        <!--            <if test="gprePrice != null">#{gprePrice},</if>-->
        <!--            <if test="giconPath != null and giconPath != ''">#{giconPath},</if>-->
        <!--            <if test="gdetails != null and gdetails != ''">#{gdetails},</if>-->
        <!--            <if test="ownerId != null">#{ownerId},</if>-->
        <!--            <if test="glocation != null and glocation != ''">#{glocation},</if>-->
        <!--            <if test="fineness != null and fineness != ''">#{fineness},</if>-->
        <!--            <if test="stockNum != null">#{stockNum},</if>-->
        <!--            <if test="categoryId != null">#{categoryId},</if>-->
        <!--            <if test="gstatus != null">#{gstatus},</if>-->
        <!--            <if test="time != null">#{time},</if>-->

        <!--        </trim>-->

    </insert>
    <update id="updateGoods">
        update goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="gprofile != null and gprofile != ''">gprofile = #{gprofile},</if>
            <if test="gprice != null">gprice = #{gprice},</if>
            <if test="gprePrice != null">gpre_price = #{gprePrice},</if>
            <if test="giconPath != null and giconPath != ''">gicon_path = #{giconPath},</if>
            <if test="gdetails != null and gdetails != ''">gdetails = #{gdetails},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="glocation != null and glocation != ''">glocation = #{glocation},</if>
            <if test="fineness != null and fineness != ''">fineness = #{fineness},</if>
            <if test="stockNum != null">stock_num = #{stockNum},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="gstatus != null">gstatus = #{gstatus},</if>
            <if test="time != null">time = #{time},</if>
        </trim>
        where gid = #{gid}
    </update>
    <delete id="deleteGoodsByGids">
        DELETE FROM goods WHERE gid IN
        <foreach item="gid" collection="array" open="(" separator="," close=")">
            #{gid}
        </foreach>
    </delete>
    <delete id="deleteGoodsByGid">
        DELETE
        FROM `goods`
        WHERE gid = #{goodsId}
    </delete>
</mapper>